@model GigHub2.ViewModels.GigListViewModel

@{
  ViewBag.Title = "Home Page";
}

<h1>@Model.Heading</h1>

<ul class="gigs voffset4">

  @foreach (var gig in Model.UpcommingGigs)
  {
    <li>
      <div class="date">
        <div class="month">@gig.DateTime.ToString("MMM") </div>
        <div class="day">@gig.DateTime.ToString("d ")</div>
      </div>


      <div class="details">
        <span class="artist">
          @gig.Artist.Name

          @if (gig.IsCanceled)
          {
            <span class="label label-warning">Canceled</span>
          }

          @if (Model.ShowActions)
          {
            <button class="btn btn-link btn-sm js-toggle-follow" data-user-id="@gig.ArtistId"> Follow </button>
          }
        </span>
        <span class="genre">
          @gig.Genre.Name
        </span>
        @if (Model.ShowActions && !gig.IsCanceled)
        {
          <button data-gig-id="@gig.Id" class="btn btn-default btn-sm pull-right js-toggel-attendance"> Going!?</button>
        }
      </div>

    </li>
    <hr />
  }

</ul>


@section scripts
{
  <script>
    $(document).ready(function () {

      $(".js-toggel-attendance").click(function (e) {
        //ajax call for api
        var btn = $(e.target);
        $.post("/api/attendances", { GigId: btn.attr("data-gig-id") })
          .done(function () {
            btn
              .removeClass("btn-default")
              .addClass("btn-info")
              .text("Already going");
          }).fail(function () {
            alert("Something went wrong");
          });
      });


      $(".js-toggel-follow").click(function (e) {

        var button = $(e.target);
        $.post("/api/following", { FolloweeId: button.attr("data-user-id") })
          .done(function () {
            button.text("Following");
          })
          .fail(function () {
            alert("Something went wrong");
          });
      });


    });





  </script>


}
